/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,400&display=swap");

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s;
}

/* variable function */
:root {
  --bg-color: #25242a;
  --bg-section: rgba(233, 233, 233, 0.8);
  --f-color: #fff;
  --l-color: #96f769;
}

/* custom style */
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  background-image: url(../img/spikes.png);
}

/* header or navbar style */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #bebebe;
  background-color: var(--bg-color);
}

nav .logo {
  color: var(--f-color);
  letter-spacing: -2px;
  border-bottom: 2px solid var(--f-color);
}

nav span {
  color: var(--l-color);
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 25%;
}

nav ul li a {
  font-size: 0.9rem;
  color: var(--f-color);
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--l-color);
}

/* content style */

section {
  background-color: var(--bg-section);
  border-radius: 10px;
  margin: 100px 100px 50px;
}

section h2 {
  font-size: 30px;
  text-align: center;
  padding: 25px 10px;
}

section article {
  padding: 30px;
}

section article p {
  padding-bottom: 15px;
  border-bottom: 2px solid var(--bg-color);
}

/* footer style */
footer {
  background-color: var(--bg-color);
  height: 50px;
}

footer p {
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
  line-height: 50px;
}
